.root{
    -fx-background-color: #000000;
    -fx-border-color: white;
    -fx-font-size: 11pt;
}
.button{
    -fx-background-radius: 8;
    -fx-font-weight: 800;

}
.label{
    -fx-text-fill: aliceblue;
    -fx-font-weight: 600;
    -fx-font: 16 italic;
    -fx-text-overrun: center-ellipsis;
}
.heading{
    -fx-text-fill: aliceblue;
    -fx-text-overrun: center-ellipsis;
    -fx-font: 40 italic;
    -fx-font-weight: bold;
}
.pane{
    -fx-border-style: dashed;
}
